@model IEnumerable<CentroAutomotivo.Models.Veiculo>
@{
    ViewData["Title"] = "Meus Veículo";
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}

<div class="section-header" style="padding-bottom: 15px;">
    <h2 class="">Meus Veículos</h2>
</div>

@if (Model.Count() == 0)
{
    <div class="d-flex flex-column align-items-center justify-content-center">
        <h2 class="text-center text-danger mt-2">Você não possui Veículo cadastrado!</h2>
        <a class="btn text-white mt-1" asp-action="CadastrarVeiculo" style="background: #07B0F2;">Cadastrar</a>
    </div>
}

<div class="row d-flex align-items-center justify-content-center">
    @foreach (var veiculo in Model)
    {
        <div class="col-5 mt-3">
            <div class="card" onclick="GetVeiculo(@veiculo.Id)">
                <img src="@veiculo.Imagem" class="card-img-top" style="height: 300px; width: 100%; max-height: 300px; max-width: 100%;" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-uppercase text-center text-white">@veiculo.Nome</h5>
                    <p class="text text-white text-center">@veiculo.Modelo.Nome</p>
                </div>
            </div>
        </div>
    }
</div>

@section Styles {
    <style>
        .card {
            border-radius: 10px;
            cursor: pointer;
        }

        .card-body {
            background: rgb(28,28,28);
            background: linear-gradient(180deg, rgba(0,0,0,0.85) 0%, rgba(0,0,0,0.85) 57%, rgba(7,176,242,0.7539390756302521) 100%);
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    </style>
}

@section Scripts {
    <script>
        function GetVeiculo(id) {
            window.location = '@Url.Action("Detalhes", "Cliente")' + '?veiculoId=' + id;
        }
    </script>
}