@model IEnumerable<CentroAutomotivo.Models.AppUser>

@{
    ViewData["Title"] = "Selecionar Usuário";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Ordens de Serviço</h1>
<h6>Selecioanr Usuário</h6>
<hr />

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th class="w-70">
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th class="w-70">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th class="w-30 text-center">Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <a style="cursor: pointer;" class="text d-flex align-items-center justify-content-center" title="Selecionar" class="text-secondary" onclick="GetUser('@item.Id')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="#11b411"
                            class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                            <path
                                d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
                        </svg>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script>
        function GetUser(id) {
            window.location = '@Url.Action("SelecionarVeiculo", "OrdemServico")' + '?userId=' + id;
        }
    </script>
}